<ion-app>
  <ion-menu content-id="main-content" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <img
          class="menu-logo"
          slot="start"
          src="assets/icon/favicon.png"
          alt="Emaki logo"
        />
        <ion-title>Emaki</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle>
          <ion-item button routerLink="/library" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" name="library"></ion-icon>
            <ion-label>Library</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item button routerLink="/provider" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" name="globe"></ion-icon>
            <ion-label>Provider</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item button routerLink="/manager" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" name="list"></ion-icon>
            <ion-label>Manager</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-list class="menu-bottom" lines="none">
        <ion-menu-toggle>
          <ion-item button routerLink="/settings" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" name="settings"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

  <ion-modal
    class="reader-sheet"
    [isOpen]="isReaderOpen()"
    [breakpoints]="[0, 1]"
    [initialBreakpoint]="1"
    handle="visible"
    swipeToClose="true"
    [canDismiss]="true"
    (didDismiss)="closeReader()"
  >
    <ng-template>
      <ov-viewer />
    </ng-template>
  </ion-modal>
</ion-app>
