<ion-app>
  <ion-menu content-id="main-content" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Emaki</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item button routerLink="/library" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" name="library-outline"></ion-icon>
            <ion-label>Library</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item button routerLink="/provider" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" name="globe-outline"></ion-icon>
            <ion-label>Provider</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item button routerLink="/settings" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" name="settings-outline"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

  <ion-modal
    class="reader-sheet"
    [isOpen]="isReaderOpen()"
    [breakpoints]="[0, 1]"
    [initialBreakpoint]="1"
    handle="visible"
    swipeToClose="true"
    [canDismiss]="true"
    (didDismiss)="closeReader()"
  >
    <ng-template>
      <ov-viewer />
    </ng-template>
  </ion-modal>
</ion-app>
